@keyframes shield01 {
    0% {
        top: -25%;
    }
    25% {
        top: 0%;
    }
    40% {
        top: 25%;
    }
    50% {
        top: 50%;
    }
    75% {
        top: 75%;
    }
    85% {
        top: 100%;
    }
    100% {
        top: 125%;
    }
}
