@keyframes enemy01 {
    0% {
        left: -100px;
        top: -100px;
    }
    100% {
        left: 100%;
        top: 100%;
    }
}
@keyframes enemy02 {
    0% {
        left: 60%;
        top: -100px;
    }
    50% {
        left: 40%;
        top: 100%;
    }
    100% {
        left: 0%;
        top: 100%;
    }
}
@keyframes enemy03 {
    0% {
        left: 100%;
        top: -100px;
    }
    100% {
        left: 0px;
        top: 100%;
    }
}
@keyframes enemy04 {
    0% {
        top: -100px;
    }
    100% {
        top: 100%;
    }
}
@keyframes enemy05 {
    0% {
        left: 0px;
        top: -100px;
    }
    100% {
        left: 400px;
        top: 100%;
    }
}
@keyframes enemy06 {
    0% {
        left: 10%;
        top: -100px;
    }
    100% {
        left: 400px;
        top: 100%;
    }
}
@keyframes enemy07 {
    0% {
        left: 0px;
        top: 10px;
    }
    100% {
        left: 800px;
        top: 100%;
    }
}
@keyframes enemy08 {
    0% {
        left: 100%;
        top: -100px;
    }
    100% {
        left: 0px;
        top: 100%;
    }
}
@keyframes enemy09 {
    0% {
        top: -100px;
    }
    100% {
        top: 100%;
    }
}
@keyframes enemy10 {
    0% {
        top: -100px;
        left: 0%;
    }
    100% {
        left: 30%;
        top: 100%;
    }
}
