@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:wght@200&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../images/fundo.jfif");
    background-repeat: no-repeat;
    background-size: 300% 300%;
    background-position: top center;
    /*background: url("../images/fundo.jfif") no-repeat 300% 300% / top center;*/
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    transition: all 4s;
    color: white;
    /*animation: background 4s ease-in-out;*/
}
@keyframes background {
    0% {
        background-position: bottom center;
    }
    50% {
        background-position: center center;
    }
    100% {
        background-position: top center;
    }
}
.initial-game {
    background: url("../images/fundo.jpg") no-repeat 100% 100% / cover;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 2px black;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.initial-game > header {
    background-color: rgba(128, 128, 128, 0.63);
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    grid-row: 2;
    height: 300px;
    width: 300px;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.initial-game > header > footer {
    height: 100%;
    font-size: 1em;
    display: flex;
    align-items: end;
    justify-content: end;
    grid-row: 3;
    padding: 5px;
    padding-bottom: 2px;
}
.initial-game > header > footer > p > a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 2px 2px black;
    transition: all 0.8s;
}
.initial-game > header > footer > p > a:hover {
    color: #5710ffc6;
    text-decoration: underline;
    text-shadow: none;
}
.initial-game > header > .botoesHeader {
    grid-row: 2;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
button {
    background-color: #0c062b;
    color: white;
    border: 2px solid #4300ef;
    border-radius: 6px;
    margin: 6px;
    padding: 2px;
    height: 50px;
    width: 100px;
    font-size: 1em;
    transition: all 0.8s;
}
button:hover {
    border-color: white;
    scale: 0.9;
}
button:active {
    border-color: yellow;
    scale: 1;
}
.shop-game {
    background-image: url("../images/fundo.jpg");
    background-repeat: no-repeat;
    background-size: 300% 300%;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 2px black;
    height: 100vh;
    width: 100vw;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.content {
    background-color: rgba(128, 128, 128, 0.63);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 2px black;
    height: 600px;
    width: 100vw;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 60px 2px 1fr 2px 60px;
}
.content > hr {
    background-color: white;
    border: 2px solid white;
}
.shop-game > .content > header {
    display: flex;
    justify-content: space-between;
}
.shop-game > .content > main {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    overflow-x: auto;
    padding: 5px;
}
.shop-game > .content > main::-webkit-scrollbar {
    height: 7px;
    width: 12px;
}
.shop-game > .content > main::-webkit-scrollbar-thumb {
    background-color: #1e1e1e;
    border-radius: 3px;
}
.shop-game > .content > main::-webkit-scrollbar-track {
    background-color: dimgray;
}
.shop-game > .content > main > .secoes {
    width: 100%;
    display: flex;
    padding: 5px;
}
#skPadrao,
#sk02,
#sk03,
#sk04,
#sk05,
#sk06,
#sk07 {
    display: none;
}
#skPadrao:checked ~ #skinPadrao {
    border: 5px solid #1e1e1e;
}
#skPadrao:checked ~ #skinPadrao > #precoPadrao {
    background-color: #1e1e1e;
    border-top: 5px solid #1e1e1e;
}
#skinPadrao {
    border: 5px solid blue;
}
.shop-game > .content > main > .secoes > label {
    border: 5px solid #0fbd48;
    border-radius: 12px;
    height: 220px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin: 6px;
    transition: all 0.4s;
}
.shop-game > .content > main > .secoes > label:hover {
    transform: scale(1.2);
    margin: 12px;
}
.skin {
    background-color: #000000b3;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#skin01 {
    background-image: url("../images/skin01.png");
    background-repeat: no-repeat;
}
#skin02 {
    background-image: url("../images/skin02.png");
    background-repeat: no-repeat;
}
#skin03 {
    background-image: url("../images/skin03.png");
    background-repeat: no-repeat;
}
#skin04 {
    background-image: url("../images/skin04.png");
    background-repeat: no-repeat;
}
#skin05 {
    background-image: url("../images/skin05.png");
    background-repeat: no-repeat;
}
#skin06 {
    background-image: url("../images/skin06.png");
    background-repeat: no-repeat;
}
#skin07 {
    background-image: url("../images/skin07.png");
    background-repeat: no-repeat;
}
.shop-game > .content > main > .secoes > label > .preco {
    background-color: #0fbd48;
    border-top: 5px solid #0fbd48;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-game > .content > main > .secoes > #skinPadrao > #precoPadrao {
    background-color: blue;
    border-top: 5px solid blue;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-game > .content > header > h1 {
    margin: 8px;
}
.shop > .content > header > .tituloCoin > h2 {
    background-color: #979797;
    border: none;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-game > .content > header > .tituloCoin > .Coin-Logo {
    background-color: #1e1e1e;
    padding: 6px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 24px;
}
.shop-game > .content > header > .tituloCoin {
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    margin: 8px;
}
.shop-game > .content > header > .tituloCoin > .resultCoins {
    display: flex;
    background-color: #979797;
    border: none;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cheats-game {
    background: url("../images/fundo.jpg") no-repeat 100% 100% / cover;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 2px black;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
}
.game-board {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: none;
}
.gameFrame {
    margin: 5px;
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-100%, 0%);
    display: flex;
    align-items: end;
    flex-direction: column;
}
.score,
.kills {
    margin: 5px;
    padding: 3px;
    font-family: "Pixelify Sans", sans-serif;
}
.coins {
    margin: 5px;
    padding: 3px;
}
.score > span,
.kills > span,
.coins > span {
    margin: 2px;
}
.life {
    display: flex;
    flex-direction: column;
}
.life > img {
    margin: 6px;
    width: 50px;
    transition: all 0.4s;
}
.game-score,
.game-kills,
.game-coins {
    display: flex;
}
.game-kills > span,
.game-coins {
    margin: 2px;
}
.personagem,
.enemy {
    height: 100px;
    width: 100px;
    position: absolute;
}
.quest {
    background-color: rgb(128, 128, 128);
    border-radius: 8px;
    padding: 8px;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    display: none;
    transform: translate(-50%, -25%);
}
.quest > h2 {
    width: 100%;
}
.options {
    width: 100%;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    justify-content: space-between;
}

#player {
    background-image: url("../images/skin01.png");
    background-color: #62ceff00;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    opacity: 100%;
    border-radius: 0%;
    transition: all 0.2s;
    left: 50%;
    top: 50%;
}
@keyframes death {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.enemy {
    background: url("../images/meteoro.png") no-repeat 100% / cover;
    transition: all 2s;
}
#enemy01,
#enemy02,
#enemy03 {
    border-radius: 28%;
    height: 90px;
    width: 90px;
    top: -1800px;
    left: 50%;
}
@keyframes deathEnemy {
    0% {
        display: none;
    }
    25% {
        display: block;
    }
    50% {
        display: none;
    }
    75% {
        display: block;
    }
    100% {
        display: none;
    }
}
.icon {
    transition: all 0.8s;
}
#shieldIcon {
    background-image: url("../images/escudo.png");
    background-color: rgb(0, 123, 224);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 2px 10px 26px rgb(51, 162, 254);
    height: 70px;
    width: 70px;
    opacity: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1800px;
}
.coinIcon {
    background-image: url("../images/coin.png");
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    opacity: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1800px;
}
.botoes {
    background-color: rgba(128, 128, 128, 0.63);
    height: 220px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 3px;
    padding-top: 0px;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}
.botao {
    background-color: rgb(186, 0, 0);
    height: 50px;
    width: 50px;
    margin: 2px;
    opacity: 0;
}
.botoesDirect {
    height: 180px;
    width: 180px;
    /*background-color:rgba(128, 128, 128, 0.63);*/
    border-radius: 10px;
    background-image: url("../images/botoes.png");
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.botoesPower {
    height: 180px;
    width: 150px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}
.areaControls {
    height: 100%;
    width: 130px;
    display: flex;
    align-items: start;
}
.botoesControl {
    background-color: #1e1e1e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 50px;
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
#buttonReset {
    background-image: url("../images/botao-reset.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
}
.buttonConfirm {
    background-color: #0c062b;
    color: white;
    border: 2px solid #4300ef;
    border-radius: 6px;
    margin: 6px;
    padding: 2px;
    height: 50px;
    width: 100px;
    font-size: 1em;
    font-family: "Pixelify Sans", sans-serif;
    transition: all 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonConfirm:hover {
    border-color: white;
    scale: 0.9;
}
.buttonConfirm:active {
    border-color: yellow;
    scale: 1;
}
#noShop {
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 6px;
    margin: 6px;
    padding: 2px;
    height: 50px;
    width: 100px;
    font-size: 1em;
    font-family: "Pixelify Sans", sans-serif;
    transition: all 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#noShop:hover {
    border-color: white;
    scale: 0.9;
}
#noShop:active {
    border-color: darkred;
    scale: 1;
}
#yesShop {
    background-color: #0fbd48;
    color: white;
    border: 2px solid #0fbd48;
    border-radius: 6px;
    margin: 6px;
    padding: 2px;
    height: 50px;
    width: 100px;
    font-size: 1em;
    font-family: "Pixelify Sans", sans-serif;
    transition: all 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#yesShop:hover {
    border-color: white;
    scale: 0.9;
}
#yesShop:active {
    border-color: darkgreen;
    scale: 1;
}
#buttonStop {
    background-image: url("../images/botao-pause.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
}
#botaoTop {
    grid-column: 2;
}
#botaoLeft {
    grid-column: 1;
    grid-row: 2;
}
#botaoRight {
    grid-column: 3;
    grid-row: 2;
}
#botaoBottom {
    grid-column: 2;
    grid-row: 3;
}
.shootButton {
    background-image: url("../images/fogo.png");
    background-color: rgb(224, 0, 0);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    border: 2px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
}
.shieldButton {
    background-image: url("../images/escudo.png");
    background-color: rgb(0, 123, 224);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
    border: 2px solid black;
    border-radius: 50%;
    height: 88px;
    width: 88px;
    opacity: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
}
.shieldNum {
    background-color: #4493ff;
    border: 1px solid black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 70%;
    font-family: "Pixelify Sans", sans-serif;
}
.bullet {
    background-color: rgb(224, 0, 0);
    box-shadow: 2px 10px 30px rgb(255, 42, 42);
    border-radius: 25%;
    height: 12px;
    width: 12px;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    opacity: 100%;
    display: none;
    transition: all 0.3s;
}
@keyframes shoot {
    0% {
        display: none;
        top: 0%;
    }
    50% {
        display: block;
        opacity: 100%;
        top: -200px;
    }
    100% {
        top: -700px;
    }
}
.game-over {
    background-color: rgba(61, 61, 61, 0.855);
    opacity: 100;
    height: 100%;
    width: 100%;
    display: none;
    transition: all 0.7s;
}
.game-over > .results {
    display: flex;
    flex-direction: column;
}
#h2 {
    background-color: #80808000;
    border: none;
    border-radius: 0px;
}
.game-over > .results > .scoreResult > .tituloScore > h2,
.game-over > .results > .killResult > .tituloKill > h2 {
    background-color: #979797;
    border: none;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-over > .results > .scoreResult,
.game-over > .results > .killResult {
    display: flex;
}
.game-over > .message {
    background-color: gray;
    color: black;
    border-radius: 8px;
    width: 250px;
    padding: 5px;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.game-over > .message > .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.game-over > .message > .header > .titulo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.game-over > .message > h1,
.game-over > .message > p {
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Score-Logo,
.Kill-Logo {
    background-color: #1e1e1e;
    padding: 6px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 24px;
}
.tituloScore,
.tituloKill {
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    margin: 8px;
}
