* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background-image:url('../images/fundo.jfif');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:100vh;
    overflow:hidden;
    display:flex;
}
.game-board {
    height:100%;
    width:100%;
    position:relative;
}
.life {

}
.life > img {
    margin:6px;
}
.personagem {
    height:100px;
    width:100px;
    position:absolute;
}
#player {
    background-image:url('../images/player.png');
    background-repeat:no-repeat;
    background-size:cover;
    top:150px;
    left:50%;
    transition:all .1s;
}
@keyframes death {
    0%{opacity:100%;}
    25%{opacity:0%;}
    50%{opacity:100%;}
    75%{opacity:0%;}
    100%{opacity:100%;}
}
#enemy {
    background-image:url('../images/enemy.gif');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    animation:top 2s infinite ease-in-out;
} 
@keyframes top {
    0%{top:-100px;}
    100%{top:900px;}
} 
.botoes {
    background-color:rgba(128, 128, 128, 0.471);
    height:100%;
    width:500px;
    position:relative;
    display:grid;
    place-content:center;
}
.botoes > img {
    width:100px;
}
.botao {
    background-color:rgb(186, 0, 0);
    height:36px;
    width:36px;
    margin:10px;
    opacity:0;
}
.anguloHorizontal {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display:flex;
  flex-direction:row;
  gap:20px;
}
.anguloVertical {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    gap:20px;
}
.shootButton {
  background-color:rgb(255, 52, 52);
  border:2px solid black;
  border-radius:50%;
  height:70px;
  width:70px;
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;
  top:35%;
  left:10%;
  transform:translate(-10%,-35%);
}
.bullet {
    background-color:red;
    border-radius:25%;
    height:12px;
    width:12px;
    position:relative;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    top:0%;
    opacity:0%;
    transition:all .2s;
}
