*{
    margin: 0;
    padding: 0;
}
#counter{
    font-size: 20pt;
    position: absolute;
    right: 50%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(13, 31, 31);
}
.telagame{
   border: 2px solid white;
   width: 1000px;
   height: 500px; 
   position: absolute;
   transform: translateY(70%);
   overflow: hidden;
    background-color: rgb(80, 180, 242);
}
.personagem{
position: absolute;
width: 150px;
height: 150px;
bottom: -30px;
left: 10px;


}
#bloco{
    position: absolute;
width: 100px;
height: 90px;
bottom: 0px;
right: -100px;
animation: enemi 2s infinite ;

}
#nuvemFrente{
    animation: nuvem 8s infinite ease-out;
    position: absolute;
    width: 300px;
    height: 200px;
}
#nuvemFrente2{
    animation: nuvem2 9s infinite ease-out ;
    position: absolute;
   top: 30%;
    width: 300px;
    height: 200px;
}
#nuvemTras{
    animation: nuvemTras 40s infinite ease-out ;
    position: absolute;
    bottom: -110px;
   
}
.teste{
    animation: person 300ms linear;
}

@keyframes enemi{

0%{
    right: -100px;
}
100%{
    right: 1200px;
}
}

@keyframes nuvem{

    0%{
        right: -300px;
    }
    
    100%{
        right: 1000px;
    }
    }

    @keyframes nuvem2{

        0%{
            right: -700px;
        }
        
        100%{
            right: 1000px;
        }
        }
        @keyframes nuvemTras{

            0%{
                right: -1000px;
            }
            
            100%{
                right: 900px;
            }
            }

@keyframes person{
    0%{
        bottom: 0px;

    }
    50%{
        bottom: 90px;
    }
    70%{
        bottom: 180px;
    }
    80%{
        bottom: 50px;
    }
    100%{
        bottom: 0pxpx;
    }
}


