

body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}
H1{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 40pt;
}
a{
    text-decoration: none;
    font-size: 40pt;
    transform: translateX(-100px);
  
   
}
#jogar{
    position: absolute;
    right: 50%;
    left: 50%;
    background-color: transparent;
    border: none;
}
.telagame{
    background-image: url("../imagens/baixados-removebg-preview1.gif");
    background-repeat: no-repeat;
    background-position: 50px 340px;
    background-size: 200px;
    border: 2px solid white;
    width: 1000px;
    height: 500px; 
    position: absolute;
    transform: translateY(70%);
    overflow: hidden;
     background-color: rgb(80, 180, 242);
 }